@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
	font-family: PP;
	src: url(../public/NeueMachina-Light.otf);
	font-weight: 300;
}

@font-face {
	font-family: PP;
	src: url(../public/NeueMachina-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: PP;
	src: url(../public/PPNeueMachina-PlainUltrabold.ttf);
	font-weight: 800;
}

@font-face {
	font-family: CR;
	src: url(../public/Thrilling-Italic-BF663afe5ee0889.otf);
	font-weight: 800;
}

/* Boilerplate Style */
html,
body {
	width: 100%;
	height: 100%;
	user-select: none !important;
}

body::-webkit-scrollbar {
	display: none;
}

#root {
	font-family: PP;
	font-weight: 300;
}

#name {
	font-family: PP;
	font-weight: 800;
}

#name-big {
	font-family: CR;
}

#load-name-big {
	font-family: CR;
	transition: all 0.5s linear;
}

#load-name-big:hover {
	scale: 1.1;
}

span {
	display: inline-block;
}

#subHeader {
	transition: top 0.35s ease-in;
}

#subHeader.hiddenbox {
	top: -80px;
}

.heading-color {
	background: linear-gradient(to right, #04ffbc, #40fd0b);
	display: inline-block;
	color: transparent;
	background-clip: text;
}

/* -------------------------------- */
.no-spinner {
	-moz-appearance: textfield; /* Firefox */
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
	-webkit-appearance: none; /* Chrome, Safari, Edge */
	margin: 0;
}

/* Project Hover Animation */
#projectbox {
	perspective: 1000px;
	perspective-origin: bottom;
}

#projectbox > div {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	transform-style: preserve-3d;
	transform-origin: 50% 80%;
}

#projectbox > span:hover ~ div {
	transform: rotateX(45deg) translateY(100px) translateZ(100px) scale(0.92) !important;
	box-shadow: 0 15px 30px rgba(0, 255, 13, 0.167);
}
#projectbox > span:hover ~ div #imageP {
	opacity: 0 !important;
}
